a {
  color: #11999E;
}

body {
  font-family: "Merriweather", serif;
  margin: 0;
  text-align: center;
  background-color: white;
}

.book {
  float: right;
  margin-left: 1.9375rem;
  width: 25%;
}

.bottom-cloud {
  bottom: 18.75rem;
  left: 18.75rem;
  position: absolute;
}

h1 {
  color: #66bfbf;
  font-family: "La Belle Aurore", serif;
  font-size: 5.625rem;
  font-weight: lighter;
  line-height: 2;
  margin: 20px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", serif;
  font-size: 2.5rem;
  margin-top: 0;
}

h3 {
  color: #11999E;
  font-family: "Montserrat", serif;
}

.pro {
  text-decoration: underline;
}

.programmer {
  font-weight: normal;
}

.profile {
  margin: 4rem;
}

hr {
  border-color: #EAF6f6;
  border-style: none;
  border-top-style: dotted;
  border-width: 0.625rem;
  width: 5%;
}

.skill-row {
  line-height: 2;
  margin: 6.25rem auto 6.25rem auto;
  text-align: left;
  width: 50%;
}

.top-cloud {
  position: absolute;
  right: 21.25rem;
  top: 5.625rem;
}

.top-container {
  background-color: #e4f9f5;
  padding-top: 6.25rem;
  position: relative;
}

.web-dev {
  float: left;
  margin-right: 1.9375rem;
  width: 25%;
}
