body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin: 0;
  font-family: "La Belle Aurore", serif;
  /* font-weight: lighter; */
  font-weight: 100;
}

h2 {
  font-family: "Montserrat", serif;
}

h3 {
  font-family: "Montserrat", serif;
}

.top-container {
  padding-top: 100px;
  position: relative;
  background-color: #f5a25d;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 90px;
  right: 500px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}
